pip install fastapi
pip install uvicorn
pip install sqlalchemy
pip install alembic
pip install psycopg2-binary
pip install pydantic
pip install python-dotenv
brew install postgresql
brew services start postgresql
pip install pydantic-settings
pip install requests
pip install scikit-learn
pip install nltk
pip install numpy
